@model Garage
@{
    ViewData["Title"] = "Home Page";
    List<Auto> autosList = Model.GetAutos();
}

<h3>Garaje: @Model.getDescripcion()</h3>
<p>
    <b>Capacidad:</b> @Model.capacidadEspacios espacios.
    <b>Ocupados:</b> @Model.espaciosOcupados espacios.
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Numero</th>
            <th>Marca</th>
            <th>Placa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in autosList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroAuto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.placa)
                </td>
            </tr>
        }
    </tbody>
</table>